html{
    --primaryBackground: #ffffff;
    --primaryTextColor: #212529;
}

html[data-theme = 'dark'] {
    --primaryBackground: #212529;
    --primaryTextColor: #ffffff;
}

html.theme-transition,
html.theme-transition *,
html.theme-transition *:before,
html.theme-transition *:after {
  transition: all 500ms !important;
  transition-delay: 0 !important;
}

body{
    background-color: var(--primaryBackground) !important;
}


h1{
  color: var(--primaryTextColor) !important;  
}